<!-- <app-navbar></app-navbar> -->


<app-trainernav></app-trainernav>

<div class="container mt-3 paddingtrainer">


  <h3 class="mt-4">Search Exercise by Workout Types</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Workout Types" [(ngModel)]="workout_types">
      </div>
      <button class="btn btn-primary" (click)="getExerciseByType(workout_types)">Search</button>
    </div>
  </div>
  <br><br>


  <h2>Exercise Information</h2><br><br>
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let e of exercise">
      <div class="card exercise-card">
        <img [src]="getImageUrl(e.workout_types)" alt="Exercise Image" class="card-img-top exercise-image" style="object-fit: cover; height: 500px;">
        <div class="card-body">
          <h5 class="card-title" style="font-size: 1.2rem;">{{ e.workout_types }}</h5>
          <p class="card-text" style="font-size: 1rem;">Body Types: {{ e.body_types }}</p>
          <p class="card-text" align="left">
            <button *ngIf="is_admin === true" (click)="delExercise(e.id)" class="btn btn-danger" style="padding: 5px; margin: 2px; width: 5vw;">Delete</button>
            <button *ngIf="is_admin === true" (click)="editExercise(e)" class="btn btn-primary" style="padding: 5px; margin: 2px; width: 5vw;">Edit</button>
          </p>
        <p class="card-text">
          To explore more comprehensively about our exercise regimen, kindly delve into the "Learn More" option.
        </p>
          <p class="card-text" align="right">
            <a [href]="getLearnMoreUrl(e.workout_types)" class="btn btn-secondary btn-sm" target="_blank">Learn More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<button   *ngIf="is_admin === true" (click)="addExercise()" class="btn btn-primary btn-md" style="padding: 8px; width: 10vw; margin-left: 43vw;">Add New Exercise</button><br><br>


<form *ngIf="showForm" (submit)="addNewExercise()" style="width: 50vw; margin: auto; margin-bottom: 10px; font-size: 14px;"> 
  <h2 style="text-align: center;">Add New Exercise</h2>
  <label>Body type :</label>
  <input [(ngModel)]="newExercise.body_types" name="body_types" type="text" class="form-control" required><br>
  <label>WorkOut type :</label>
  <select [(ngModel)]="newExercise.workout_types" name="workout_types"  class="form-control" required>
    <option value="">Select workout types</option>
    <option value="Yoga">Yoga</option>
    <option value="Pilates">Pilates</option>
    <option value="CrossFit">CrossFit</option>
    <option value="Strength Training">Strength Training</option>
    <option value="Cardio">Cardio</option>
    <option value="HIIT">HIIT</option>
  </select><br>
  <label>Price :</label>
  <input [(ngModel)]="newExercise.price" name="price" type="text" class="form-control" required><br>

  <button type="submit" class="btn btn-primary btn-md" style="padding: 8px;">Add Exercise</button>
  <button type="button" class="btn btn-danger" (click)="showForm = false" style="padding: 8px; margin-left: 5px;">Cancel</button>
</form>



<form *ngIf="selectedExercise" (submit)="updateExercise()" style="width: 50vw; margin: auto; margin-bottom: 10px; font-size: 14px;">
  <h2 style="text-align: center;">Update Exercise</h2>
  <label>Body type :</label>
  <input [(ngModel)]="selectedExercise.body_types" name="body_types" type="text" class="form-control" required><br>
  <label>WorkOut type :</label>
  <select [(ngModel)]="selectedExercise.workout_types" name="workout_types"  class="form-control" required>
    <option value="">Select workout types</option>
    <option value="Yoga">Yoga</option>
    <option value="Pilates">Pilates</option>
    <option value="CrossFit">CrossFit</option>
    <option value="Strength Training">Strength Training</option>
    <option value="Cardio">Cardio</option>
    <option value="HIIT">HIIT</option>
  </select><br>
  <label>Price :</label>
  <input [(ngModel)]="selectedExercise.price" name="price" type="text" class="form-control" required><br>
  <button type="submit" class="btn btn-primary btn-md" style="padding: 8px;">update Exercise</button>
  <button type="button" class="btn btn-secondary btn-md" style="padding: 8px; margin-left: 10px;" (click)="cancelUpdate()">Cancel</button>
</form> 


<app-footer></app-footer>
