<head>
	<title>FitMedics</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top">
  <a class="navbar-brand" routerLink="">
    <img src="assets/doctor/fitmedics_white.png" alt="FitMedics Logo" style="width: 100px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/doctorhome">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doctor">Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/medicinelist">Medicine List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/labtest">Lab Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bmicalc">Bmi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutusd">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactd">Contact</a>
      </li>
      
    </ul>
    <div class="navdoct">
   
    <ul class="navbar-nav">

      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/cart">Cart</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" routerLink="/profiled">Profile</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-danger" (click)="logout()" routerLink="">Logout</button>
      </li>
    </ul>
    </div>
      
   
  </div>
</nav>


<app-footer></app-footer>


