    
    table.table-bordered tbody tr:hover {
        background-color: #f5f5f5;
    }

   
    .btn {
        padding: 5px 10px;
        border-radius: 3px;
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }


    td {
        padding: 8px;
        text-align: center;
    }

   
    th {
        background-color: #343a40;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .paddingtrainer{
        padding-top: 5%;
    }