
<app-doctornav></app-doctornav>

<section class="container about-us containerd mt-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>About Us</h2>
          <p>FitMedics is a game-changer in the world of health and fitness. 
            Our innovative web app seamlessly blends the expertise of medical professionals with cutting-edge fitness technology to help you achieve your health goals like never before. With FitMedics, 
            you'll have access to personalized workout plans designed by top trainers, as well as nutritional guidance tailored to your unique needs. But what really sets FitMedics apart is the added layer of medical expertise - 
            our team of doctors are on-hand to provide tailored health recommendations and guidance, ensuring that your fitness journey is safe, effective, and optimized for your overall wellbeing. 
            Say goodbye to generic workouts and cookie-cutter diet plans, and hello to a personalized, evidence-based approach to health and fitness with FitMedics.</p>
          <a  class="btn btn-secondary">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="assets/trainer/image1.jpg" alt="About Us" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>


  
