.bg-blue {
    background-color: blue;
  }
  
  .bg-green {
    background-color: green;
  }
  
  .bg-yellow {
    background-color: yellow;
  }
  
  .bg-red {
    background-color: red;
  }
  button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #8c8a91;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid #8c8b8f;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #9b9b9b;
  }
  
  button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #aaaaaa;
  }