<!-- <app-navbar></app-navbar><br><br> -->

<app-doctornav></app-doctornav>

<!-- <div class="container">

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>First_Name</th>
            <th>Last_Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Speciality</th>
            <th>Exp_Years</th>
            <th>Fees</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of doctors">
            <td>{{ d.id }}</td>
            <td>{{d.first_name}}</td>
            <td>{{ d.last_name}}</td>
            <td>{{ d.email}}</td>
            <td>{{ d.age}}</td> 
            <td>{{ d.speciality}}</td> 
            <td>{{ d.exp_years}}</td> 
            <td>{{ d.fees }}</td>
           <td>       
        <button (click)="delDoctor(d.id)" class="btn btn-danger btn-md" style="padding: 5px; margin: 2px; width: 5vw;">Delete</button>
        <button (click)="editDoctor(d)" class="btn btn-primary btn-md" style="padding: 5px; margin: 2px; width: 5vw;">Update</button>
        <button  class="btn btn-secondary" style="padding: 5px; margin: 2px; width: 10vw;">Book an Appointment</button>
    </td> 
    </tr>
  </tbody>
</table>
</div> -->


<div> 

  <br><br>

  <div class="container mt-1 containerd">
    <h3 class="mt-4">Search Doctor by Speciality</h3>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter speciality" [(ngModel)]="speciality">
        </div>
        <button class="btn btn-primary" (click)="getDoctorByspeciality(speciality)">Search</button>
      </div>
    </div>
    <br><br>
  
<div class="card bg-light mb-3 doctorcard"  *ngFor="let d of doctors">
  <div class="card-header"><h3>Dr{{" "+d.first_name+" "}} {{d.last_name}}</h3></div>
  <div class="card-body doctlist row div1">
    <div class="col-sm-6">
      <h6 class="card-title "> {{"Doctot id : "+d.id}}</h6>
     <h6 class="card-title "> {{"Department : "+d.speciality}}</h6>
    <h6 class="card-title"> {{"Email : "+d.email}}</h6>
    <h6 class="card-title"> {{"Experience : "+d.exp_years +" years exp."}}</h6>
    <h6 class="card-title"> "consultation fees : {{d.fees |currency : "INR"}}</h6>
    </div>
    <div class="col-sm-6" >
      <button *ngIf="is_admin === true" class="buttons" (click)="delDoctor(d.id)" class="btn btn-danger btn-md" style="padding: 5px; margin-top: 5px; margin-left: 5px; width: 5vw;">Delete</button>
      <button *ngIf="is_admin === true" class="buttons" (click)="editDoctor(d)" class="btn btn-primary btn-md" style="padding: 5px;  margin-top:5px; margin-left: 5px; width: 5vw;">Update</button>
      <button class="buttons"  class="btn btn-secondary" style="padding: 5px;  margin-top: 5px; margin-left: 5px; width: 14vw;">Book an Appointment</button>
  
    </div>
    
    
  </div>
</div>
















<!-- updating students form -->
<form *ngIf="selectedDoctor" (submit)="updateDoctor()" style="width: 50vw; margin: auto; margin-bottom: 10px; font-size: 14px;">
<h2 style="text-align: center;">Update Doctor</h2>
<label>First_Name:</label>
<input [(ngModel)]="selectedDoctor.first_name" name="first_name" type="text" class="form-control"><br>
<label>Last_Name:</label>
<input [(ngModel)]="selectedDoctor.last_name" name="last_name" type="text" class="form-control"><br>
<label>Email:</label>
<input [(ngModel)]="selectedDoctor.email" name="email" type="text" class="form-control"><br>
<label>Age:</label>
<input [(ngModel)]="selectedDoctor.age" name="age" type="number" class="form-control"><br>
<label>Speciality:</label>
<input [(ngModel)]="selectedDoctor.speciality" name="speciality" type="text" class="form-control"><br>
<label>Exp_Years:</label>
<input [(ngModel)]="selectedDoctor.exp_years" name="exp_years" type="number" class="form-control"><br>
<button type="submit" class="btn btn-primary btn-md" style="padding: 8px;">Update Doctor</button>
  <button type="button" class="btn btn-secondary btn-md" style="padding: 8px; margin-left: 10px;" (click)="cancelUpdate()">Cancel</button>
</form>

<!--Adding form-->

<button *ngIf="is_admin === true" (click)="addDoctor()" class="btn btn-primary btn-md" style="padding: 8px; width: 10vw; margin-left: 43vw;">Add New Doctor</button><br><br>
<form *ngIf="showForm" (submit)="addNewDoctor()" style="width: 50vw; margin: auto; margin-bottom: 10px; font-size: 14px;"> 
  <h2 style="text-align: center;">Add New Doctor</h2>
  <label>First Name:</label>
  <input [(ngModel)]="newDoctor.first_name" name="firstName" type="text" class="form-control"><br>
  <label>Last Name:</label>
  <input [(ngModel)]="newDoctor.last_name" name="lastName" type="text" class="form-control"><br>
  <label>Age :</label>
  <input [(ngModel)]="newDoctor.age" name="age" type="text" class="form-control"><br>
  <label>Email :</label>
  <input [(ngModel)]="newDoctor.email" name="email" type="text" class="form-control"><br>
  <label>Speciality :</label>
  <input [(ngModel)]="newDoctor.speciality" name="speciality" type="text" class="form-control"><br>
  <label>Experience Year :</label>
  <input [(ngModel)]="newDoctor.exp_years" name="exp_Years" type="text" class="form-control"><br>
  <label>Fees :</label>
  <input [(ngModel)]="newDoctor.fees" name="fees" type="text" class="form-control"><br>
  <button type="submit" class="btn btn-primary btn-md" style="padding: 8px;">Add Doctor</button>
  <button type="button" class="btn btn-danger" (click)="showForm = false" style="padding: 8px; margin-left: 5px;">Cancel</button>
</form>


<!--<div class="container">
    <h1 class="mt-4">Search Trainers by Speciality</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter speciality" [(ngModel)]="speciality">
        </div>
        <button class="btn btn-primary" (click)="searchTrainersBySpeciality(speciality)">Search</button>
      </div>
    </div>
  -->


</div>

<app-footer></app-footer>

