/* 
body{
 
        background-image: url(/fitMedics/src/assets/background.jpg);
        /* background-size: 50%; */
        /* background-repeat: no-repeat; */
        /* background-size: 50% auto; */
        

/* } */ */

/* a {
  color: rgb(255, 255, 255);
  margin-left: 5px;
  text-decoration: none;
} */

.navbar {
  background-color: #394276; /* change this to the desired color */
}



.reg{
    cursor: pointer;
    font-size:1.5rem;
    /* margin: auto; */
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}

.home {
    
    height: 555px;
    /* background-image: url('/assets/doctortrainer.png') ; */
    background-image: url("/assets/main.png");
    /* background-color: blue; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    position: relative;
    padding: 20.5%;
    /* margin-top: %; */

    

}


.btn-wrapper {
    
    position: absolute;
    top: 30%;
    left: 75.5%;
    transform: translate(-40%, -40%);
    text-align: center;
}
.btn-wrapper button {
    margin: 0 8px;
}

.btn:hover {
    background-color: #0300cc;
    color: #fff;
  }

.custom-btn {
    background-color: #ffffff; /* Change button color */
    color: rgb(0, 0, 0); /* Change text color */
    font-size: 1.4rem; /* Increase font size */
  }
  h3{
    color:#0300cc;
  }
  .div2{
    margin: auto;
  }

  .intro{
    position: absolute;
   margin-top: 60%;
   margin-left: 10%;
    /* left: 75.5%; */
    font-size: 1rem;
    /* transform: translate(-40%, -40%); */
    text-align: center;
  }
  h4{
   color: #0300cc;
   }
   