<!DOCTYPE html>
<html>
<head>
  <title>FitMedics - Contact Us</title>
</head>
<body>


    <app-doctornav></app-doctornav>
  

  <div class="header container mt-2 containerd">
    <h1>FitMedics</h1>
    <p>Improving health outcomes through top-notch healthcare solutions</p>
  </div>
  
  <div class="container">
    <div class="contact-us">
      <img src="assets/fitmedicslogo.png" alt="FitMedics Logo">
    </div>

    <div class="contact-details">
      <h2>Contact Us</h2>
      <p>Have questions or need assistance? Get in touch with our team!</p>
      <p>123 Street, City, Country</p>
      <p>Email: info@fitmedics.com</p>
      <p>Phone: +1 123-456-7890</p>
    </div>

    <div class="contact-form">
      <h2>Send us a message</h2>

      <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
        <input type="text" name="name" placeholder="Your Name" required><br>
        <input type="email" name="email" placeholder="Your Email" required><br>
        <textarea name="message" placeholder="Your Message" rows="6" required></textarea><br>
        <input class="buttonc" type="submit" value="Send Message">
      </form>
    </div>
  </div>
</body>
</html>


<app-footer></app-footer>

