<!DOCTYPE html>
<html>
<head>
	<title>FitMedics - Trainer Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	
<app-trainernav></app-trainernav>
	  

    <div class="jumbotron container mt-5 paddingtrainer"style="background-image: url('assets/trainer/Try.jpg'); background-size: cover; background-position: center;">
        <div class="container">
            <h1 style="color: rgb(234, 231, 231);">Welcome to FitMedics!</h1>
            <p style="color: rgb(229, 220, 220);">Our professional trainers provide comprehensive solutions to meet your healthcare needs.</p>
            <a routerLink ="trainer" class="btn btn-secondary btn-lg">View Trainers</a>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Diets</h2>
                <p>Our online diet programs cover a range of topics related to weight management, muscle building, and overall health and wellness.</p>
                <a routerLink ="diet" class="btn btn-secondary">View Courses</a>
            </div>
            <div class="col-md-4">
				<h2>Exercises</h2>
				<p>Our online exercise programs offer a variety of workouts targeting different goals and fitness levels.</p>
				<p>By following our exercise programs, you can expect to see improvements in your overall fitness, body composition, energy levels, and overall well-being.</p>
				<a routerLink="exercise" class="btn btn-secondary">View Programs</a>
			  </div>
            <div class="col-md-4">
                <h2>About Us</h2>
                <p>Learn more about our organization, our mission, and the team behind FitMedics. We are committed to providing top-notch healthcare solutions to our clients and improving overall health outcomes.</p>
                <a routerLink ="aboutus" class="btn btn-secondary">About Us</a>
            </div>
        </div>
    </div>
    </body>
    </html>
    <br>
    <br>
    <br>


    <app-footer></app-footer>
